<div class="section advantages">
 <section class="advantages-section">
  <div class="advantages-text">
   <h2 class="section-title title advantages-title">3D PRODUCT <span class="section-title__span">RENDERING</span></h2>
   <p>Do you want to get an exact 3D copy or individual images of your product to show on your website?</p>
   <p>Or maybe you need to show customers and investors a product that is currently under development? The possibilities of 3D product visualization are endless</p>
   <button class="primary-button advantages-button">Prices</button>
   <p class="quote advantages-quote">It will be enough for us to get your 3D CAD files, but if you don't have them, you can use drawings, photos or just ideas in your head. </p>
  </div>
  <div>
   <div class="advantages-slider advantagesSlider" data-slider="product" data-sliders="4"></div>
   <div class="advantages-arrows slider-arrows advantagesButtons" data-slider="product">
    <button class="slider-arrow arrow-prev"></button>
    <p class="advantages-arrows__text" data-slider="product"><span class="advantages-arrows__text"></span> / <span class="advantages-arrows__text"></span></p>
    <button class="slider-arrow arrow-next"></button>
   </div>
  </div>
 </section>
 <section class="advantages-section">
  <div class="advantages-text">
   <h2 class="section-title title advantages-title">3D PACKAGE <span class="section-title__span">RENDERING</span></h2>
   <p>Get photorealistic images of your product packaging for eCommerce, trade-show banners, magazines, and much more. We can use your 2D label artwork files to quickly create high-quality and accurate renderings of your product, ready for publication.</p>
   <p>Overpriced photo shoots of your product packaging for advertising and e-commerce are no longer necessary.</p>
   <button class="primary-button advantages-button">Prices</button>
   <p class="quote advantages-quote">Step by step we will help you from the script creation to the finished video.</p>
  </div>
  <div>
   <div class="advantages-slider advantagesSlider" data-slider="package" data-sliders="4"></div>
   <div class="advantages-arrows slider-arrows advantagesButtons" data-slider="package">
    <button class="slider-arrow arrow-prev"></button>
    <p class="advantages-arrows__text" data-slider="package"><span class="advantages-arrows__text"></span> / <span class="advantages-arrows__text"></span></p>
    <button class="slider-arrow arrow-next"></button>
   </div>
  </div>
 </section>
 <section class="advantages-section advantages-section__video">
  <div class="advantages-text">
   <h2 class="section-title title advantages-title">3D Pdoduct <span class="section-title__span">ANIMATION</span></h2>
   <p>3D product animation creates new possibilities for showing your product. For example, you can give an interesting insight into the inner workings of very complex machines or technical systems.</p>
   <p>Alone or accompanied by music, 3D animation always attracts attention.</p>
   <button class="primary-button advantages-button">Prices</button>
   <p class="quote advantages-quote">Step by step we will help you from the script creation to the finished video.</p>
  </div>
  <div class="advantages-video">
   <iframe id="iframeYoutube" width="100%" height="100%" src="https://www.youtube.com/embed/mrHQRJL0W84" title="Blender - Girl in Uniform" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
 </div>
 </section>
</div>