<section class="section contact" id="contacts">
 <h2 class="title section-title contact-title">contact us <span class="section-title__span">to discuss your project</span></h2>
 <div class="contact-content">
  <form action="#" method="post" class="contact-form">
   <input aria-label="input name" type="text" name="name" placeholder="name" class="contact-input">
   <input aria-label="input email" type="email" name="email" placeholder="email" class="contact-input">
   <input aria-label="input tel" type="tel" name="phone" placeholder="phone" class="contact-input">
   <textarea aria-label="Describe your project" name="letter" id="letter" placeholder="Describe your project" class="contact-input contact-textarea"></textarea>
   <input type="submit" value="contact us" class="primary-button contact__primary-button">
  </form>
  <div class="contact-content__text">
   <p class="quote contact-quote">Book a free video-consultation</p>
   <button class="contact-text__button">Schedule</button>
  </div>
 </div>
</section>