<header class="header">

  <div class="header-logo__wrapper">
    <a href="#"><img src="img/svg/monoColor/logo.svg" alt="Logotype" class="header-logo header-logo__mobile"></a>
  </div>

  <button class="header-nav__burger" id="headerButton">
    <span></span>
  </button>
  
  <nav class="header-nav">
   <ul class="header-ul">
    <li><a href="#our_work" class="header-link">Our work</a></li>
    <li><a href="#prices" class="header-link">Services and prices</a></li>
    <li><a href="#contacts" class="header-link">Contacts</a></li>
   </ul>
  </nav>

  <div class="header-menu__mobile" id="headerMenuMobile">
    <div class="header-logo__wrapper">
      <a href="#"><img src="img/svg/monoColor/logoWhite.svg" alt="Logotype" class="header-logo header-logo__mobile"></a>
    </div>
    <nav class="header-nav">
      <ul class="header-ul__mobile">
       <li><a href="#our_work" class="header-link">Our work</a></li>
       <li><a href="#prices" class="header-link">Services and prices</a></li>
       <li><a href="#contacts" class="header-link">Contacts</a></li>
      </ul>
     </nav>
  </div>

  <div class="header-tel__wrapper">
   <a class="header-tel" href="tel:+79878373829">+7 (987) 837-38-29</a>
  </div>

 </header>