<main class="section main">
 <div class="main-top">
 <div class="main-images">
  <img class="main-img" src="img/main/main-img.png" alt="Image">
 </div>
 <div class="main-text">
  <h1 class="main-title title">modeling rendering animation</h1>
  <ul class="main-ul">
   <li class="main-li">Modeling and product visualization</li>
   <li class="main-li">Photorealistic package visualisation</li>
   <li class="main-li">CGI animation for presentations and ads</li>
  </ul>
  <button class="primary-button">Get in touch today</button>
 </div>
 </div>
 <div class="section main-bottom">
  <div class="main-bottom__text">
  <div class="main-description">
   <h2 class="main-title title main-title__vertical">we are</h2>
   <div class="main-description__text">
    <h3 class="main-subtitle title">3D studio based in Vilnius</h3>
    <p>We help clients all over the world to create
     photo-realistic 3d product images
     and animations for e-commerce, presentations
     and marketing.</p>
     <p>We can create any virtual objects in static
     and motion to solve your business tasks.</p>
    </div>
    </div>
    <ul class="main-bottom__ul" id="main-bottom__ul">
      <li class="main-bottom__li">7+ years experience</li>
      <li class="main-bottom__li">Extreme attention to detail</li>
      <li class="main-bottom__li">Fixed prices</li>
      <li class="main-bottom__li">Organized approach</li>
    </ul>
  </div>
  <div class="main-command__wrapper" id="main-command__wrapper">
   <img src="img/main/main-command.png" alt="Photo of our group" class="main-command">
  </div>
 </div>
</main>