<section class="section our" id="our_work">

 <h2 class="our-title section-title title">our <span class="section-title__span">WORKS</span></h2>

 <div class="our-slider" data-slider="our" id="ourSlider">
  <div class="our-slider__track" id="our-slider__track">
   <div class="our-slide">
    <img class="our-work our-slide_1" src="img/our/slide_1/1.png" alt="Our work">
    <img src="img/our/slide_1/1_1.png" alt="Our work">
    <img src="img/our/slide_1/1_2.png" alt="Our work">
    <img src="img/our/slide_1/1_3.png" alt="Our work">
    <img src="img/our/slide_1/1_4.png" alt="Our work">
    <img class="our-work our-slide_2" src="img/our/slide_1/2.png" alt="Our work">
    <img src="img/our/slide_1/2_1.png" alt="Our work">
    <img src="img/our/slide_1/2_2.png" alt="Our work">
    <img src="img/our/slide_1/2_3.png" alt="Our work">
    <img src="img/our/slide_1/2_4.png" alt="Our work">
    <img class="our-work our-slide_3" src="img/our/slide_1/3.png" alt="Our work">
    <img src="img/our/slide_1/3_1.png" alt="Our work">
    <img src="img/our/slide_1/3_2.png" alt="Our work">
    <img src="img/our/slide_1/3_3.png" alt="Our work">
    <img src="img/our/slide_1/3_4.png" alt="Our work">
   </div>
   <div class="our-slide">
    <img class="our-work our-slide_1" src="img/our/slide_2/1.png" alt="Our work">
    <img src="img/our/slide_2/1_1.png" alt="Our work">
    <img src="img/our/slide_2/1_2.png" alt="Our work">
    <img src="img/our/slide_2/1_3.png" alt="Our work">
    <img src="img/our/slide_2/1_4.png" alt="Our work">
    <img class="our-work our-slide_2" src="img/our/slide_2/2.png" alt="Our work">
    <img class="our-work our-slide_3" src="img/our/slide_2/3.png" alt="Our work">
    <img src="img/our/slide_2/3_1.png" alt="Our work">
    <img src="img/our/slide_2/3_2.png" alt="Our work">
    <img src="img/our/slide_2/3_3.png" alt="Our work">
    <img src="img/our/slide_2/3_4.png" alt="Our work">
    <img class="our-work our-slide_4" src="img/our/slide_2/4.png" alt="Our work">
   </div>
   <div class="our-slide">
    <img class="our-work our-slide_1" src="img/our/slide_3/1.png" alt="Our work">
    <img src="img/our/slide_3/1_1.png" alt="Our work">
    <img src="img/our/slide_3/1_2.png" alt="Our work">
    <img src="img/our/slide_3/1_3.png" alt="Our work">
    <img src="img/our/slide_3/1_1.png" alt="Our work">
    <img class="our-work our-slide_6" src="img/our/slide_3/4.png" alt="Our work">
    <img src="img/our/slide_3/4_1.png" alt="Our work">
    <img src="img/our/slide_3/4_2.png" alt="Our work">
    <img src="img/our/slide_3/4_3.png" alt="Our work">
    <img src="img/our/slide_3/4_1.png" alt="Our work">
    <img class="our-work our-slide_3" src="img/our/slide_3/3.png" alt="Our work">
    <img class="our-work our-slide_5" src="img/our/slide_3/5.png" alt="Our work">
  </div>
  </div>
  <div class="our-slider__bottom">
   <div class="fill"></div>
   <div class="slider-arrows" data-slider="our" id="ourButtons">
    <button class="slider-arrow arrow-prev"></button>
    <button class="slider-arrow arrow-next"></button>
   </div>
  </div>
 </div>

 <div class="our-buttons">
  <button class="primary-button">Get in touch today</button>
  <button class="our__secondary-button secondary-button">Prices</button>
 </div>

</section>