<section class="section prises" id="prices">
 <h2 class="title section-title prises-title">our <span class="section-title__span">prices</span></h2>
  <div class="prises-cards">
   <div class="prises-card">
    <div class="prises-card__img_wrapper">
      <img src="img/prises/1.png" alt="Our product" class="prises-card__img">
    </div>
    <div class="prises-card__title prises-card__section">
      <p>3d product rendering</p>
    </div>
    <ul class="prises-card__list">
      <li class="prises-card__section">3D models creation based on drawings</li>
      <li class="prises-card__section">Creation of 3D models from photos and sketches</li>
      <li class="prises-card__section">Processing of scan results</li>
      <li class="prises-card__section">Preparing your model for 3D printing</li>
    </ul>
    <div class="prises-card__section prises-card__price">
      <div class="price-text">
       <p class="price-from">from</p>
       <p class="price-start"><span>700</span></p>
      </div>
      <div class="price-button__wrapper">
       <button class="primary price-button">Contact us</button>
      </div>
    </div>
   </div>
   <div class="prises-card">
    <div class="prises-card__img_wrapper">
      <img src="img/prises/2.png" alt="Our product" class="prises-card__img">
    </div>
    <div class="prises-card__title prises-card__section">
      <p>3d product rendering</p>
    </div>
    <ul class="prises-card__list">
      <li class="prises-card__section">Creation of 3D models from photos and sketches</li>
      <li class="prises-card__section">Creation of 3D models from photos and sketches</li>
      <li class="prises-card__section">Processing of scan results</li>
      <li class="prises-card__section">Variable material and color options</li>
    </ul>
    <div class="prises-card__section prises-card__price">
      <div class="price-text">
       <p class="price-from">from</p>
       <p class="price-start"><span>1000</span></p>
      </div>
      <div class="price-button__wrapper">
       <button class="primary price-button">Contact us</button>
      </div>
    </div>
   </div>
   <div class="prises-card prises-card__3">
    <div class="prises-card__img_wrapper">
      <img src="img/prises/3.png" alt="Our product" class="prises-card__img">
    </div>
    <div class="prises-card__title prises-card__section">
      <p>3d product rendering</p>
    </div>
    <ul class="prises-card__list">
      <li class="prises-card__section">3D models creation based on drawings</li>
      <li class="prises-card__section">Creation of 3D models from photos and sketches</li>
      <li class="prises-card__section">Storyboard</li>
      <li class="prises-card__section">Sound design</li>
    </ul>
    <div class="prises-card__section prises-card__price">
      <div class="price-text">
       <p class="price-from">from</p>
       <p class="price-start"><span>300</span></p>
      </div>
      <div class="price-button__wrapper">
       <button class="primary price-button">Contact us</button>
      </div>
    </div>
   </div>
  </div>
</section>